@import "~materialize-css/dist/css/materialize.min.css";

.btn-login {
    margin-right: 10px;
}

.nav-main {
    padding: 0 50px;
}

.on_loader {
    position: absolute;
    top: 10%;
    height: 80vh;
    width: 80vw;
    border: 2px dotted black;
}

.zero_files {
    align-items: center;
    border: 2px dotted black;
    margin-top: 50px;
    text-align: center;
    padding: 50px;
}

.uploads {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.file_block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 150px;
    max-width: 150px;
    margin: 0 10px 0 10px;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
    color: black;
    cursor: pointer;
}

.file_block:hover .img_file{
    transform: scale(1.1);
    transition: 0.3s;
}

.file_block:first-child {
    margin: 0 10px 0 0;
}

.file {
    position: relative;
}

.format_file {
    position: absolute;
    left: -5px;
    bottom: 20px;
}

.name_file {
    margin: 0;
}

.contextMenu {
    background: #F1F1F1;
    width: 100%;
    text-align: center;
    display: none;
}



